.list-group a:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.menu-logo {
  cursor: pointer;
}

#col-nav {
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  border-radius: 20px;
}

.card {
  border-radius: 15px;
}
